# APPENDIX

# Nature Inspired Learning Algorithms - Assignement 1

#### Important note: For the purpose of Q1, Jupyter notebook has been incorporated only for purposes of accuracy, time-saving calculations and reliability. The python code can be ignored for the assessment of this coursework.

## Q1. Binary Genetic Algorithm by Hand

In [1]:
# a. 7-digits of ID along with 8-digit number
import numpy as np
import pandas as pd
s1,s2,s3,s4,s5,s6,s7,b1,b2 = 2,0,1,0,2,8,9,2,7

In [2]:
# b. Cost function
def f(x,y):
    return -(s2+s3)*x**2+(s4+s5)*x*y-(s6+s7)*y**2-(b1+b2)

### c) Population Initialisation

In [3]:
# c. Decoded x and y
dec_x = np.array([s2,s4,s6,b1,s3,s5,s7,b2])
x=-2+dec_x*28/31
dec_y = np.array([s3,s5,s7,b2,s2,s4,s6,b1])
y=-2+dec_y*28/31

In [4]:
Cost = np.zeros(8)
for i in range(8):
    Cost[i]+=(f(x[i],y[i]))
Chromosome = ['0000000001', '0000000010', '0100001001', '0001000111', '0000100000', '0001000000', '0100101000', '0011100010']
n = np.arange(9)[1:,]

In [5]:
# Formulating the population
data = {'n': n,'Chromosome':Chromosome, 'decoded_x':x, 'decoded_y':y, 'Cost':Cost }
population = pd.DataFrame(data)
population

   n  Chromosome  decoded_x  decoded_y        Cost
0  1  0000000001  -2.000000  -1.096774  -29.062435
1  2  0000000010  -2.000000  -0.193548  -12.862643
2  3  0100001001   5.225806   6.129032 -610.856400
3  4  0001000111  -0.193548   4.322581 -328.350676
4  5  0000100000  -1.096774  -2.000000  -73.815817
5  6  0001000000  -0.193548  -2.000000  -76.263267
6  7  0100101000   6.129032   5.225806 -446.760666
7  8  0011100010   4.322581  -0.193548  -29.994797

### d) Natural Selection

In [6]:
Nkeep = 4
nat_sel5=population.sort_values(by=['Cost']).head(5) #sorting
nat_sel5 = nat_sel5.reset_index(drop=True) #reseting index from 0
nat_sel5['n']=n[0:5] # Filter top 5 chromosomes
nat_sel4 = nat_sel5[nat_sel5.n<Nkeep+1] # Choosing top 4 chromosomes for this sections
nat_sel4

   n  Chromosome  decoded_x  decoded_y        Cost
0  1  0100001001   5.225806   6.129032 -610.856400
1  2  0100101000   6.129032   5.225806 -446.760666
2  3  0001000111  -0.193548   4.322581 -328.350676
3  4  0001000000  -0.193548  -2.000000  -76.263267

### e) Cost weighting

In [7]:
c5 = nat_sel5['Cost'][4] # 5th chromosome 'Nkeep+1'
nat_sel4['Cn=cn-c(Nkeep-1)']=nat_sel4['Cost']-c5 #adding Cn column
nat_sel4['Pn']=nat_sel4['Cn=cn-c(Nkeep-1)']/nat_sel4['Cn=cn-c(Nkeep-1)'].sum() # adding Pn column
nat_sel4['ΣPn']=nat_sel4['Pn'].cumsum() # adding cumsum column

C:\Users\labros\anaconda3a\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\labros\anaconda3a\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\labros\anaconda3a\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
nat_sel4

,n,Chromosome,decoded_x,decoded_y,Cost,Cn=cn-c(Nkeep-1),Pn,ΣPn
0,1,0100001001,5.225806,6.129032,-610.856400,-537.040583,0.460202,0.460202
1,2,0100101000,6.129032,5.225806,-446.760666,-372.944849,0.319585,0.779786
2,3,0001000111,-0.193548,4.322581,-328.350676,-254.534860,0.218116,0.997903
3,4,0001000000,-0.193548,-2.000000,-76.263267,-2.447451,0.002097,1.000000

### f) Crossover

In [9]:
s2/(s2+s3+s4+s5+s6), 1-s2/(s2+s3+s4+s5+s6) #1st pair of parents

(0.0, 1.0)

In [10]:
(s2+s3)/2, (s4+s5)/2 # Cross-over points - take rounding to first integer

(0.5, 1.0)